.contact-page{

padding:80px 20px;

}


.contact-hero{

text-align:center;

max-width:800px;

margin:auto;

}


.contact-hero span{

color:#5b4bdb;

font-weight:700;

}


.contact-hero h1{

font-size:55px;

color:#111827;

}


.contact-hero h1 span{

color:#5b4bdb;

}


.contact-hero p{

font-size:20px;

color:#64748b;

}



.contact-grid{

display:grid;

grid-template-columns:1fr 1fr;

gap:40px;

margin-top:70px;

}



.contact-card,
.contact-form{

background:white;

padding:35px;

border-radius:25px;

box-shadow:0 20px 50px rgba(0,0,0,.08);

}



.contact-card{

margin-bottom:20px;

}


.contact-card a{

color:#5b4bdb;

font-weight:600;

text-decoration:none;

}



.contact-form input,
.contact-form textarea{

width:100%;

padding:15px;

margin-bottom:15px;

border:1px solid #ddd;

border-radius:12px;

font-size:16px;

}



.contact-form textarea{

height:140px;

}



.contact-form button{

width:100%;

padding:16px;

border:0;

border-radius:14px;

background:#5b4bdb;

color:white;

font-weight:700;

}



@media(max-width:800px){

.contact-grid{

grid-template-columns:1fr;

}


.contact-hero h1{

font-size:40px;

}

  }
