.pricing-page{

background:#020817;
color:white;
padding:80px 8%;

}


.pricing-hero{

text-align:center;
max-width:900px;
margin:auto;

}


.pricing-hero span{

color:#39d9ff;
letter-spacing:3px;

}


.pricing-hero h1{

font-size:55px;
margin:25px 0;

}


.pricing-hero strong{

color:#8cff3d;

}


.pricing-hero p{

color:#9ca3af;
font-size:18px;
line-height:1.7;

}



.pricing-section{

margin-top:80px;

}



.pricing-grid{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;
align-items:center;

}



.pricing-card{

position:relative;

background:#071525;

border:1px solid #183044;

padding:35px;

border-radius:25px;

min-height:450px;

transition:0.3s ease;

overflow:hidden;

}



.pricing-card:hover{

transform:translateY(-10px);

border-color:#8cff3d;

}




/* Premium Animated Border */

.pricing-card.popular{

border:none;

}



.pricing-card.popular::before{

content:"";

position:absolute;

inset:-2px;

background:linear-gradient(
90deg,
#8cff3d,
#20d9ff,
#8cff3d
);

background-size:300%;

animation:borderMove 5s linear infinite;

z-index:0;

border-radius:25px;

}



.pricing-card.popular::after{

content:"";

position:absolute;

inset:3px;

background:#071525;

border-radius:22px;

z-index:0;

}



.pricing-card>*{

position:relative;

z-index:1;

}



@keyframes borderMove{

0%{

background-position:0%;

}

100%{

background-position:300%;

}

}



.popular-badge{

display:inline-block;

background:#8cff3d;

color:#020817;

padding:8px 18px;

border-radius:20px;

font-size:12px;

font-weight:bold;

margin-bottom:15px;

}



.pricing-card h2{

font-size:28px;

}



.pricing-card h3{

font-size:55px;

margin:20px 0;

}



.pricing-card h3 span{

font-size:16px;

color:#9ca3af;

}



.pricing-card p{

color:#9ca3af;

line-height:1.6;

}



.pricing-card ul{

list-style:none;

padding:0;

margin-top:25px;

}



.pricing-card li{

margin:15px 0;

color:#d1d5db;

}



.pricing-card button,
.pricing-cta button{

margin-top:20px;

width:100%;

padding:14px;

border:none;

border-radius:30px;

background:#8cff3d;

font-weight:bold;

cursor:pointer;

}



.pricing-cta{

margin-top:90px;

text-align:center;

background:#06252c;

padding:60px;

border-radius:30px;

}



.pricing-cta h2{

font-size:38px;

}



.pricing-cta p{

color:#9ca3af;

}



.pricing-cta button{

width:auto;

padding:14px 40px;

}



@media(max-width:768px){

.pricing-page{

padding:50px 20px;

}


.pricing-hero h1{

font-size:34px;

}


.pricing-grid{

grid-template-columns:1fr;

}

   }
