.pricing-page{

background:#020817;
color:white;
padding:80px 8%;

}



.pricing-hero{

text-align:center;
max-width:900px;
margin:auto;

}



.pricing-hero span{

color:#39d9ff;
letter-spacing:3px;

}



.pricing-hero h1{

font-size:52px;
margin:25px 0;

}



.pricing-hero strong{

color:#8cff3d;

}



.pricing-hero p{

color:#9ca3af;
font-size:18px;
line-height:1.7;

}




.pricing-section{

margin-top:80px;

}



.pricing-grid{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:25px;

}



.price-card{

background:#071525;
border:1px solid #183044;
padding:35px;
border-radius:25px;
position:relative;

}



.price-card h3{

font-size:42px;
margin:20px 0;

}



.price-card small{

font-size:16px;
color:#9ca3af;

}



.price-card p{

color:#9ca3af;
line-height:1.6;

}



.price-card ul{

padding:0;
list-style:none;

}



.price-card li{

margin:15px 0;
color:#d1d5db;

}



.price-card button,
.pricing-cta button{

margin-top:20px;
padding:14px 35px;
border:none;
border-radius:30px;
background:#8cff3d;
font-weight:bold;

}



.popular{

border:1px solid #8cff3d;

}



.badge{

position:absolute;
top:-15px;
right:25px;
background:#8cff3d;
color:#020817;
padding:7px 15px;
border-radius:20px;
font-size:13px;

}




.pricing-benefits{

text-align:center;
margin:90px 0;

}



.pricing-benefits h2,
.pricing-cta h2{

font-size:38px;

}



.pricing-benefits p{

color:#9ca3af;

}



.pricing-cta{

text-align:center;
background:#06252c;
padding:60px;
border-radius:30px;

}



@media(max-width:768px){

.pricing-page{

padding:50px 20px;

}


.pricing-hero h1{

font-size:34px;

}


.pricing-grid{

grid-template-columns:1fr;

}

   }
