.blog-page{

background:#020817;
color:white;
padding:80px 8%;

}



.blog-hero{

text-align:center;
max-width:900px;
margin:auto;

}



.blog-hero span{

color:#39d9ff;
letter-spacing:3px;

}



.blog-hero h1{

font-size:52px;
margin:25px 0;

}



.blog-hero strong{

color:#8cff3d;

}



.blog-hero p{

color:#9ca3af;
font-size:18px;
line-height:1.7;

}




.blog-section{

margin-top:90px;

}



.blog-section h2,
.blog-categories h2{

font-size:38px;

}




.blog-grid{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:25px;
margin-top:40px;

}




.blog-card{

background:#071525;
border:1px solid #183044;

padding:30px;
border-radius:20px;

}



.blog-card span{

color:#39d9ff;
font-size:14px;

}



.blog-card p{

color:#9ca3af;
line-height:1.7;

}



.blog-card button,
.blog-cta button{

margin-top:15px;

padding:12px 25px;

border:none;

border-radius:25px;

background:#8cff3d;

font-weight:bold;

}




.blog-categories{

margin:90px 0;

}



.category-list{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
margin-top:30px;

}



.category-list div{

background:#071525;

border:1px solid #183044;

padding:25px;

border-radius:20px;

text-align:center;

}




.blog-cta{

text-align:center;

background:#06252c;

padding:60px;

border-radius:30px;

}



.blog-cta h2{

font-size:38px;

}



.blog-cta p{

color:#9ca3af;

}



@media(max-width:768px){


.blog-page{

padding:50px 20px;

}


.blog-hero h1{

font-size:34px;

}


.blog-grid,
.category-list{

grid-template-columns:1fr;

}

   }
