.terms-page{

background:#020817;
color:white;
padding:80px 8%;

}



.terms-hero{

text-align:center;
max-width:900px;
margin:auto;

}



.terms-hero span{

color:#39d9ff;
letter-spacing:3px;

}



.terms-hero h1{

font-size:55px;
margin:25px 0;

}



.terms-hero strong{

color:#8cff3d;

}



.terms-hero p{

color:#9ca3af;
font-size:18px;
line-height:1.7;

}




.terms-content{

margin-top:90px;

}



.terms-content h2,
.terms-cta h2{

font-size:38px;

}



.terms-content>p{

color:#9ca3af;

}



.terms-grid{

display:grid;
grid-template-columns:repeat(2,1fr);
gap:25px;
margin-top:40px;

}



.terms-card{

background:#071525;
border:1px solid #183044;

padding:30px;

border-radius:20px;

}



.terms-card p{

color:#9ca3af;
line-height:1.7;

}



.terms-cta{

margin-top:90px;
text-align:center;

background:#06252c;

padding:60px;

border-radius:30px;

}



.terms-cta p{

color:#9ca3af;

}



.terms-cta button{

margin-top:20px;

padding:14px 35px;

border:none;

border-radius:30px;

background:#8cff3d;

font-weight:bold;

}



@media(max-width:768px){

.terms-page{

padding:50px 20px;

}


.terms-hero h1{

font-size:34px;

}


.terms-grid{

grid-template-columns:1fr;

}

}
