.demo-page{

background:#020817;
color:white;
padding:80px 8%;

}



.demo-hero{

text-align:center;
max-width:900px;
margin:auto;

}



.demo-hero span{

color:#39d9ff;
letter-spacing:3px;

}



.demo-hero h1{

font-size:55px;
margin:25px 0;

}



.demo-hero strong{

color:#8cff3d;

}



.demo-hero p{

color:#9ca3af;
font-size:18px;
line-height:1.7;

}



.demo-hero button,
.demo-form button,
.demo-cta button{

margin-top:25px;
padding:14px 35px;
border:none;
border-radius:30px;
background:#8cff3d;
font-weight:bold;

}




.demo-benefits,
.demo-form-section{

margin-top:90px;

}



.demo-benefits h2,
.demo-form h2,
.demo-cta h2{

font-size:38px;

}



.demo-grid{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:25px;
margin-top:40px;

}



.demo-card,
.demo-form{

background:#071525;
border:1px solid #183044;
padding:30px;
border-radius:25px;

}



.demo-card p{

color:#9ca3af;
line-height:1.7;

}



.demo-form{

max-width:600px;
margin:auto;

}



.demo-form input,
.demo-form textarea,
.demo-form select{

width:100%;
margin:10px 0;

padding:15px;

background:#020817;

border:1px solid #183044;

border-radius:10px;

color:white;

}



.demo-cta{

margin-top:90px;
text-align:center;

background:#06252c;

padding:60px;

border-radius:30px;

}



.demo-cta p{

color:#9ca3af;

}



@media(max-width:768px){

.demo-page{

padding:50px 20px;

}


.demo-hero h1{

font-size:34px;

}


.demo-grid{

grid-template-columns:1fr;

}

}
