.contact-page{

background:#020817;
color:white;
padding:80px 8%;

}


.contact-hero{

text-align:center;
max-width:900px;
margin:auto;

}


.contact-hero span{

color:#39d9ff;
letter-spacing:3px;

}


.contact-hero h1{

font-size:52px;
margin:25px 0;

}


.contact-hero strong{

color:#8cff3d;

}


.contact-hero p{

color:#9ca3af;
font-size:18px;
line-height:1.7;

}



.contact-content{

margin-top:90px;
display:grid;
grid-template-columns:1fr 450px;
gap:50px;

}



.contact-info h2,
.contact-form h2{

font-size:38px;

}



.contact-info p{

color:#9ca3af;
line-height:1.7;

}



.info-box{

background:#071525;
border:1px solid #183044;
padding:25px;
border-radius:20px;
margin-top:20px;

}



.info-box p{

color:#8cff3d;

}



.contact-form{

background:#071525;
border:1px solid #183044;
padding:35px;
border-radius:25px;

}



.contact-form input,
.contact-form textarea{

width:100%;
margin:10px 0;
padding:15px;

background:#020817;
border:1px solid #183044;

border-radius:10px;

color:white;

}



.contact-form button,
.contact-cta button{

margin-top:15px;
padding:14px 35px;

border:none;
border-radius:30px;

background:#8cff3d;
font-weight:bold;

}



.contact-cta{

margin-top:90px;
text-align:center;

background:#06252c;

padding:60px;

border-radius:30px;

}



.contact-cta h2{

font-size:38px;

}



@media(max-width:768px){

.contact-page{

padding:50px 20px;

}


.contact-hero h1{

font-size:34px;

}


.contact-content{

grid-template-columns:1fr;

}

}m
