/*
|--------------------------------------------------------------------------
| BRIQONA OS Spacing
|--------------------------------------------------------------------------
| Global Spacing Scale
|--------------------------------------------------------------------------
*/

:root {

  /* Spacing */

  --space-0: 0;

  --space-1: 4px;

  --space-2: 8px;

  --space-3: 12px;

  --space-4: 16px;

  --space-5: 20px;

  --space-6: 24px;

  --space-7: 32px;

  --space-8: 40px;

  --space-9: 48px;

  --space-10: 64px;

  /* Layout */

  --header-height: 72px;

  --sidebar-width: 280px;

  --content-max-width: 1600px;

}
