/*
|--------------------------------------------------------------------------
| BRIQONA OS Typography
|--------------------------------------------------------------------------
*/

:root{

  --font-family:
    Inter,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;

  --font-size-xs:12px;

  --font-size-sm:14px;

  --font-size-md:16px;

  --font-size-lg:18px;

  --font-size-xl:20px;

  --font-size-2xl:24px;

  --font-size-3xl:32px;

  --font-weight-normal:400;

  --font-weight-medium:500;

  --font-weight-semibold:600;

  --font-weight-bold:700;

}
