.footer {

  padding:80px 0 30px;

  background:#01050d;

  border-top:1px solid var(--border);

}



.footer__grid {

  display:grid;

  grid-template-columns:1.5fr 1fr 1fr 1fr;

  gap:40px;

}



.footer__brand h3 {

  font-size:26px;

  margin:0 0 18px;

}



.footer__brand h3 span {

  color:var(--green);

}



.footer__brand p {

  max-width:330px;

  color:var(--text-soft);

  line-height:1.8;

}



.footer h4 {

  margin-bottom:20px;

  font-size:16px;

}



.footer a {

  display:block;

  margin:12px 0;

  color:var(--text-muted);

  transition:.25s;

}



.footer a:hover {

  color:var(--cyan);

}



.footer__bottom {

  margin-top:50px;

  padding-top:25px;

  border-top:

  1px solid rgba(255,255,255,.08);

  display:flex;

  justify-content:space-between;

  align-items:center;

  gap:20px;

}



.footer__bottom span {

  color:var(--text-muted);

  font-size:14px;

}



.footer__bottom div {

  display:flex;

  gap:25px;

}



.footer__bottom a {

  margin:0;

}



@media(max-width:900px){

  .footer__grid{

    grid-template-columns:1fr 1fr;

  }

}



@media(max-width:600px){

  .footer__grid{

    grid-template-columns:1fr;

  }


  .footer__bottom{

    flex-direction:column;

    align-items:flex-start;

  }

}
.footer__payments {

  margin-top:50px;

  padding-top:30px;

  border-top:
  1px solid rgba(255,255,255,.08);

}


.footer__payments > span {

  display:block;

  color:var(--text-soft);

  font-size:14px;

  margin-bottom:18px;

}



.payment-logos {

  display:flex;

  flex-wrap:wrap;

  gap:14px;

}



.payment-logos div {

  min-width:100px;

  padding:12px 18px;

  border-radius:12px;

  background:
  rgba(255,255,255,.05);

  border:
  1px solid var(--border);

  color:#dbe7f5;

  font-weight:700;

  text-align:center;

  font-size:13px;

}


.payment-logos div:hover {

  border-color:var(--cyan);

  }
