.privacy-page{

background:#020817;
color:white;
padding:80px 8%;

}


.privacy-hero{

text-align:center;
max-width:900px;
margin:auto;

}


.privacy-hero span{

color:#39d9ff;
letter-spacing:3px;

}


.privacy-hero h1{

font-size:52px;
margin:25px 0;

}


.privacy-hero strong{

color:#8cff3d;

}


.privacy-hero p{

color:#9ca3af;
font-size:18px;
line-height:1.7;

}



.privacy-content{

margin-top:90px;

}


.privacy-content h2,
.privacy-rights h2{

font-size:38px;

}


.privacy-content p,
.privacy-rights p{

color:#9ca3af;
line-height:1.8;

}



.privacy-grid{

display:grid;
grid-template-columns:repeat(2,1fr);
gap:25px;
margin-top:40px;

}



.privacy-card{

background:#071525;
border:1px solid #183044;
padding:30px;
border-radius:20px;

}



.privacy-card p{

color:#9ca3af;

}



.privacy-rights{

margin:90px 0;

}



.privacy-cta{

text-align:center;
background:#06252c;
padding:60px;
border-radius:30px;

}


.privacy-cta button{

margin-top:20px;
padding:14px 35px;
border:none;
border-radius:30px;
background:#8cff3d;
font-weight:bold;

}



@media(max-width:768px){

.privacy-page{

padding:50px 20px;

}


.privacy-hero h1{

font-size:34px;

}


.privacy-grid{

grid-template-columns:1fr;

}

}
